@import "tailwindcss";

:root {
  --primary-color: #3b82f6;
  /* Default Blue */
  --secondary-color: #e5e7eb;
  /* Default Gray */
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Prevent double scrollbars at root */
  background-color: #f8fafc;
}

#root {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  border: 2px solid transparent;
  background-clip: content-box;
}